body {
	text-align: center;
	background-color: #fff8dc;
}

ul {list-style-type:none; margin-left:0px; overflow:hidden;}
        li {float:left; border:1px solid black; font-size: 2vw; position:center;}
        li a:link {display:inline; color:b22222; padding:10px;}
		li a:visited {color:purple;}
		li a:hover {background-color:#ffebcd; color:#ff7f50;}
		li a:active {background-color: #dc143c; color:#ff7f50;}

h1 {
   font-size: 4vw;
   font-family: Verdana, Helvetica, Sans-Serif;
   color: #228b22;
}

h2 {
	font-size: 2vw;
	color: #228b22;
	margin-left: 60px;
}

.diff {
	color: #006400;
}

p {
   font-size: 1.5vw;
   color: #228b22;
   text-align: center;
}
.column {
  float: left;
  width: 31%;
  padding: 5px;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}

.soc {
	text-align: left;
}

.fa {
  padding: 1vw;
  font-size: 2vw;
  width: 2vw;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
	background:#dc143c;
	color: white;
}

h4 {
	font-size: 1vw;
}




